
.main{
	/* display: inline-block;
	position: relative;
	text-align: center;
	color: white; */
	position: relative;
}


.main .text{
	position: absolute;
	
	/* transform: translate(-50%, -5%);*/
	/* font-family:courier;  
	margin-left: auto;
    margin-right: auto;
	vertical-align: middle ;
    width: 18em;
	font-size:70%; */
	  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  width: 18em;
  text-align:center;
  font-size:200%;font-family:courier;
  color:white;
  
  
}