  
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="contact.html" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>
    <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
      <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
          <div class="site-logo"></div><span class="site-description">SayIt</span></span></div>
      <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" (click)="home()">Home</a><a class="mdl-navigation__link"  (click)="create()">Create Posts</a><a class="mdl-navigation__link" (click)="myposts()">My Posts</a><a class="mdl-navigation__link" (click)="logout()" >Logout</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link"  (click)="home()">Home</a><a class="mdl-navigation__link" (click)="create()">Create Posts</a><a class="mdl-navigation__link" (click)="myposts()">My Posts</a><a class="mdl-navigation__link" (click)="logout()" >Logout</a>
      </nav>
    </div>
    <!-- mAIN cONTETNT -->
    <router-outlet></router-outlet>
    <script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
  </div>